.desktop-view {   // mobile is already styled in core
  .list-control-toggle-link-trigger {
    border: 1px solid var(--primary-medium);
    gap: .5em;
    color: var(--primary-high);

    &:hover,
    &:focus {
      background: transparent;
      color: var(--primary-high);
      .d-icon {
        color: var(--primary-high);
      }
    }

    &:focus,
    &.-expanded { 
      border-color: var(--tertiary);
      outline: 2px solid var(--tertiary);
      outline-offset: -2px;
    }
  
    &.-expanded {
      .d-icon {
        transform: rotate(#{$rotate-icon-on-open}deg);
      }
    }
  }

  .list-control-toggle-link-content {
    .dropdown-menu {
      border: 1px solid var(--primary-low);

      a { 
        display: flex;
        color: var(--primary); 
        padding: 0.5em 1em;
    

        &.active {
          background: var(--d-selected);
        }

        &:hover,
        &:focus-visible {
          background-color: var(--d-hover);
          outline: none;
        }
      }
    }
  }
}